i.fas {
  font-size: 1em;

  &.icon-grey {
    color: grey;
  }
}

.form-group.file {
  margin-bottom: 0;
}

.selected-file {
  background: #ddeeff;
  border-radius: 0.2em;
  margin-top: 1px;
  padding: 0.2em;
}

.selected-file input[type='file'] {
  display: none;
}

.social-share-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .ssb-icon {
    width: 2.8rem;
    height: 2.8rem;
    background-size: cover;
    margin: 1rem;
  }
}

#shareModalTitle {
  font-weight: 900;
}
