<div class=container>
  <div class>
  <h1>All Coordinators</h1>
  <ul>
    <% @coordinators.each do |coordinator| %>
      <li><%= link_to coordinator.name, coordinator_path(coordinator) %></li>
    <% end %>
  </ul>

  <%= link_to "Create Coordinator", new_coordinator_path %>
</div>