  <h1>All Coordinators</h1>
  <div class="row">  
    <ul>
      <% @coordinators.each do |coordinator| %>
        <li><%= link_to coordinator.name, coordinator_path(coordinator) %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Create Coordinator", new_coordinator_path %>
</div>

<table class="table">
  <div class="container">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>