<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, your case <%= @active_case.title %> is off track</h1>
    
  </body>
</html>
