<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">About Us</a></li>
        <li><a href="#section3">Donate</a></li>
        <li><a href="#section4">Contact Us</a></li> 
      </ul>
    </nav>

    <div id="section1">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Solidarity not Charity.</h1>
          </div>
          <div class="col">
            <p>This is a platform to facilitate the redistribution of resources from Singaporeans to the migrant community.</p>
            <p>Your dollar goes a long way in ensuring that migrant workers remain safe, healthy, and cared for during and beyond their time in Singapore. The ultimate goal we are working towards is a society where migrant workers are treated equitably and with dignity.</p>
            <a href="#section3">Donate Now</a>
          </div>
        </div>
      </div>
    </div>
  
    <div id="section2">
      <div class="container">
        <h1>Who are we</h1>
          <div class="row">
            <div class="col">
              <div class="container mt-3">
                <p>We are a self-organised group of individuals with no affiliation to any organizations who seek not to be ‘middlemen’ but to be facilitators; to create a system where people can anonymously and directly redistribute resources to migrant workers.</p>
              </div>
            </div> 
            <div class="col"> 
              <div class="container mt-3">
                <p>If someone requests for help, it is our job to list their needs; and it is your choice to contribute. We do not speak on behalf of migrant workers, we only amplify their voices and make sure help goes directly to those who need it.</p>
              </div>
            </div>
          </div> 
        <h1>Our Process</h1>
        <p>lalalallala</p>
      </div>
    </div>

    <div id="section3">
      <div class="container">
        <h1>How can I contribute?</h1>
        <div class="col-6">
          <div class="container">

            <h2>For contributions to individual listings</h2>
            <p>PayLah! our coordinators directly via the QR code on the Listings tab; or contact coordinators via Telegram for other ways to make a transfer to them.</p>
            <%= link_to "Cases", active_cases_path %>
            
            <h2>For contributions to our Standing Solidarity Fund​</h2>
            <p>Make a one-time or a monthly recurring payment to us on the payment box on the right (or below on mobile). We will disburse these funds to coordinators of active listings, prioritizing the most urgent cases or cases that have imminent deadlines.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="section4">
      <div class="container">
        <h1>Contact us</h1>
        <div class="row">
            <ul>
              <div class="col-6">
                <li>
                  <a href="mailto:migrantmutualaid@gmail.com" target="_blank">
                    <i class="fa fa-envelope"></i>
                    migrantmutualaid@gmail.com
                  </a>
                </li>
              
                <li>
                  <a href="https://www.instagram.com/migrantmutualaid/" target="_blank">
                    <i class="fa fa-instagram"></i>
                    migrantmutualaid
                  </a>
                </li>
              </div> 
            </ul>
        </div>  

        <p>for more information about listings</p>
        <p>for templates to send out through your </p>
        <p>if you want to volunteer as a coordinator</p>
        <p>if you have issues accessing the site</p>
        <p>if you have any ideas</p>
        
      </div>
    </div>
  </body>
</html>

