<div class="banner">
  <div class="container">
    <h1>Solidarity not Charity.</h1>
    <p>This is a platform to facilitate the redistribution of resources from Singaporeans to the migrant community.</p>
    <p>Your dollar goes a long way in ensuring that migrant workers remain safe, healthy, and cared for during and beyond their time in Singapore. The ultimate goal we are working towards is a society where migrant workers are treated equitably and with dignity.</p>
    <%= link_to "Donate now", "#" %>
  </div>
</div>

<div class="banner">
  <div class="container">
    <h1>Who are we</h1>
      <p>We are a self-organised group of individuals with no affiliation to any organizations who seek not to be ‘middlemen’ but to be facilitators; to create a system where people can anonymously and directly redistribute resources to migrant workers.</p>
      <p>If someone requests for help, it is our job to list their needs; and it is your choice to contribute. We do not speak on behalf of migrant workers, we only amplify their voices and make sure help goes directly to those who need it.</p>
    
    <h1>Our Process</h1>
  </div>
</div>

<div class="banner">
  <div class="container">
    <h1>How can I contribute?</h1>
    <h2>For contributions to individual listings</h2>
    <p>PayLah! our coordinators directly via the QR code on the Listings tab; or contact coordinators via Telegram for other ways to make a transfer to them.</p>
    <%= link_to "All cases", "#" %>
    
    <h2>For contributions to our Standing Solidarity Fund​</h2>
    <p>Make a one-time or a monthly recurring payment to us on the payment box on the right (or below on mobile). We will disburse these funds to coordinators of active listings, prioritizing the most urgent cases or cases that have imminent deadlines.</p>

  </div>
</div>

<div class="banner">
  <div class="container">
    <h1>Contact us</h1>
    <h2>email</h2>
    <h2>instagram</h2>
  </div>
</div>