.worker-img-container{
  background:#ccf2f4;
  text-align:center;
  padding: 30px;
}

.case-info-container{
  padding: 20px;
}

.case-worker{
 
}

.case-index-top{
  height: 100%;
  width: 90%;
  margin: 0 auto;
  text-align: right;
  margin-top: 10px;
}

.border{
  border-top: solid 3px #ccf2f4 ;
}

.custom-switch.left {
    padding-left: 0 !important;
  }
  
  .custom-switch.left .custom-control-label {
    left: 0;
    padding-left: 0;
  }
  
  .custom-switch.left .custom-control-label::before {
    left: 2.25rem !important;
  }
  
  .custom-switch.left .custom-control-label::after {
    left: calc(2.25rem + 2px) !important;
  }

.red{
  background-color: #f37171;
}
.green{
  background-color: #E2EFDA;
}

.fa-check-circle{
  color: #008009;
  font-size: 25px;
}

.fa-times-circle{
  color: #b40000;
  font-size: 25px;
}

.verification tbody th{
  text-align: center;
}

.verification tbody tr td:last-child{
  text-align: center;
}


.btn-color{
  background-color: #ccf2f4;
  border: 0;
  padding: 5px;
  &:hover {
    background-color:#c4e8ea;
  }
  font-size: 17px;
  font-weight: bold;
}

.btn-shortlist{
  color: #2ea44f;
}
.btn-delist{
  color: #f05945;
}

.status-bar{
  background-color: #e4fbff;
  color: #536162;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.btn-width{
  width:95px;
}

