.worker-img-container{
    background:#ccf2f4;
    text-align:center;
    padding: 30px;
}

.case-info-container{
    padding: 20px;
}

.case-worker{
    border-top: 15px solid #ccf2f4;
    padding: 20px;
}

.case-index-top{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    text-align: right;
    margin-top: 10px;
}

.red{
    background-color: #df1e1e;
}
.green{
    background-color: #df1e1e;
}