<ul>
  <% @workers.each do |worker| %>
    <li>Worker ID is: <%= worker.id %>. worker name is: <%= worker.name %> and mobile number is <%= worker.mobile_number %> and email is <%= worker.email %></li>
  <% end %>
</ul>
