.all-case-card{
    overflow: hidden;
    height: 100%;
    width: 90%;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 20px auto;
}

.case-profile-card{
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    margin: 40px auto;
    padding: 0;
    height: 60%;

}

.case-card{
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    margin: 40px auto;
    padding: 0;
}

.public-card{
    display: grid;
    height: 100%;
    width: 30%;
    background: white;
    box-shadow: 0 0 15px rgba(20, 51, 228, 0.2);
    margin: 10px auto;
    padding: 0px 15px;
    border-radius: 10px;
    position: relative;
}

.public-card:hover{
    box-shadow: 0 0 11px rgb(75, 75, 206); 
}

.card-body{
    margin-bottom: 10px;
}

.coordinator-card{
    height: 50%;
    width: 90%;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 10px auto;
    padding: 0px 15px;
}

.coordinator-profile-card{
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    margin: 40px auto;
    padding: 0;
    height: auto;
}


